<ion-header [translucent]="true">


</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="container">

    <div class="image">
      <img src="../../../assets/sunnyweather.jpg" alt="">
    </div>


    <div class="text">

      <p><span>Veamos como va el pronostico del tiempo por la ciudad</span><br><br> Facil de usar para hacer tu dia sencillo</p>

      <ion-button slot="center" class="ion-margin" [routerLink]='["/home"]'>Comenzemos</ion-button>

    </div>

    
  </ion-card>

</ion-content>