

.test {
  border: 1px solid red;
}

* {
  line-height: 1.4;
  font-family: 'Roboto';
}

ion-content {
  --ion-background-color:#88bdbc;
}

.card-container {
  border-radius: 20px;
  --ion-background-color: #659DBD;  
  margin-top: 30px;
  span {
    color: #eae7dc;
    font-weight: 300;
  }
  #main-temp {
    font-weight: 300;
    font-size: 4em;
    margin: 5px 0 5px 50px;
  }
  #location-icon {
    color: #F6B844;
  }
  #date {
    color: #eae7dc;

  }
}
