<ion-header [translucent]="true">


</ion-header>

<ion-content [fullscreen]="true">

    <div style="text-align: center; margin:15px;">
        <ion-label style="font-weight: 400; font-size: 1.5em;">Pronostico Climatico</ion-label>
    </div>

<div *ngIf="!loading">
    <ion-card class="card-container">
        <ion-img *ngIf="weatherTemp?.temp >= 100" src="../../assets/sunnyweather.jpg" alt="sunny"></ion-img>
        <ion-img *ngIf="weatherTemp?.temp <= 100" src="../../assets/rainyweather.jpg" alt="rainy"></ion-img>
        <ion-item lines="none">
            <p style="font-weight: 500; color:white;">Reporte del Dia </p>
            <ion-label style="font-size: 1.3em;font-weight: bold;color: #eae7dc" id="date" slot="end">{{today | date: "EEE dd MMM" }}</ion-label>
        </ion-item>

        <ion-item>
            <span id="main-temp">
                {{(weatherTemp?.temp - 273.151).toFixed(0)}}
            </span>
            <span style="font-size: 1.3em;font-weight: bold;color: #d79922;margin-bottom: 25px;">°C</span>
            <img slot='end' width="180px" height="180px" [src]=weatherIcon>
        </ion-item>

        <ion-item>
            <ion-icon id="location-icon" name="location"></ion-icon>
            <span class="ion-margin">{{cityName}} </span>
        </ion-item>

    </ion-card>         

    <ion-card class="card-container">

        <ion-item>
            <span slot="start">Maxima Temperatura</span>
            <span slot="end">{{(weatherTemp?.temp_max- 273.151).toFixed(0)}} °C</span>
        </ion-item>

        <ion-item>
            <span slot="start">Minima Temperatura</span>
            <span slot="end">{{(weatherTemp?.temp_min- 273.151).toFixed(0)}} °C</span>
        </ion-item>

        <ion-item>
            <span>Humedad</span>
            <span slot="end">{{weatherTemp?.humidity}} %</span>
        </ion-item>

    </ion-card>
</div>

<div *ngIf="loading">
    <h1 style="text-align: center;">Cargando Datos</h1>
</div>

</ion-content>

<!-- <div class="container">

    <div class="upper-data">
<img src="" alt="">
<img src="" alt="">
    </div>

    <div class="lower-data">
        <ion-button (click)="fetchLocation()">Location</ion-button>
        
    </div>
</div>
-->